footer {
  scroll-snap-align: start;
  position: relative;
  background-color: var(--husBlue);
  display: flex;
  flex-direction: column;
  padding: 32px;
}

footer h2 {
  margin: 0px 0px 24px 0px;
  text-decoration: underline;
}

footer h5 {
  color: white;
}

footer a {
  margin: 0px 0px 8px 0px;
  color: white;
}

.social-media {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.social-media svg {
  margin: 6px;
}
.copyright {
  font-size: 0.7rem;
  text-align: center;
  color: white;
}
