footer {
  scroll-snap-align: start;
  position: relative;
  background-color: var(--husBlue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

footer h2 {
  margin: 0px 0px 24px 0px;
  text-decoration: underline;
}

footer h5 {
  color: white;
}

footer a {
  margin: 0px 0px 8px 0px;
  color: white;
}
