/*Grids*/

section.grid {
  width: 100%;
  height: auto;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
  width: 100%;
  height: 100vh;
  /* min-height: 100vh; */
}

.text-box {
  padding: 24px;
  color: white;
}

.gallery img.cover {
  height: calc(100vh - 80px);
  /* min-height: calc(100vh - 80px); */
}

@media only screen and (min-width: 900px) {
  section.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .gallery img.cover {
    height: inherit;
    /* min-height: inherit; */
  }

  .half {
    grid-column: span 3;
  }

  .full {
    grid-column: span 6;
  }
}

/* @media only screen and (orientation: landscape) {
  .gallery img.cover {
    height: 100vh;
  }
} */
