/* Main */

:root {
  --husBlue: #162133;
  --darkGreen: #303b37;
  --greyBlue: #a8b7ba;
  --grey: #cbcdca;
}

* {
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 50% 50%;
}

body {
  scroll-snap-type: y mandatory; /* safari fix */
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 50% 50%;
  margin: 0;
}
