/* Navigation */

nav {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 38px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /*safari fix*/
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar ul {
  margin: 0;
  height: inherit;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 0px 24px;
  padding: 8px;
  color: white;
}

/* Hamburger Menu */

.burgerMenu {
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}
#menuToggle {
  /* Burger Icon Before Click */
  position: relative;
  top: 50px;
  left: 50px;
  -webkit-user-select: left 0.3s ease;
  -moz-user-select: left 0.3s ease;
  -ms-user-select: left 0.3s ease;
  user-select: none;
}

#menuToggle a {
  color: black;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  /* Hover Over Contents inside */
  color: #447255;
}

#menuToggle input {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -5px;
  padding: 0;
  cursor: pointer;
  opacity: 0; /* To not see the checkbox itself */
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle label {
  width: 30px;
  height: 30px;
}

#menuToggle label span {
  /* Just for <span></span> */
  display: none;
}

#menuToggle label div {
  width: 30px;
  height: 5px;
  margin-bottom: 4px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#menuToggle label div:first-child {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

#menuToggle label div:nth-child(2) {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

#menuToggle input:checked + label div {
  background: #232323;
}

#menu {
  position: absolute;
  width: 50%;
  height: 100%;
  margin: -50px 0 0 -50px;
  padding: 100px;
  padding-top: 30px;
  background: #f5f5f5;
  opacity: 25%;
  list-style-type: none;
  left: -100%;
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  left: 0;
}

/* Hamburger Menu End */

/* SYMBOL FÖR MAIL */

/* .button {
  position: absolute;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: pink;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: none;
}

.button:hover {
  background-color: #274046;
} */

/* button {
  color: var(--husBlue);
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: 550px;
} */

.contact-button {
  cursor: pointer;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  transition-duration: 0.2s;
}

.contact-button svg {
  width: 36px;
}

.contact-button-active {
  cursor: default;
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

.contact-button-active svg {
  display: none;
}

.contact-content {
  display: none;
  color: white;
}

form.contact-content input,
button {
  margin-bottom: 16px;
}

.contact-content-active {
  display: flex;
  flex-direction: column;
}

.exit {
  position: absolute;
  bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
  margin: 0px auto;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
