/* Navigation */

nav {
  display: none;
}

@media only screen and (min-width: 1000px) {
  nav {
    display: initial;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 48px;
    background-color: #222;
  }

  nav ul {
    margin: 0;
    height: inherit;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav li {
    margin: 0px 12px;
  }
}

.burgermenu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
