nav {
  position: static;
  width: 100%;
}

.menu-button {
  user-select: none;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}

.navigation-content {
  display: none;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: calc(100% - 32px);
  height: calc(100vh - 32px);
  padding: 64px 24px 32px 24px;
  margin: 16px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  font-size: 2rem;
}

.navigation-content li {
  margin: 0px 0px 0px 0px;
}

.contact-form {
  display: none;
}

.menu-button.active {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
}

.navigation-content.active {
  display: flex;
}

li.contact svg {
  display: none;
}

/* color variants */

.color-variant {
  display: none;
}

.color-nav {
  height: inherit;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.color-pick {
  cursor: pointer;
  width: 64px;
  height: 64px;
  margin: 24px;
  border-radius: 100%;
  opacity: 0.5;
  transition: all;
  transition-duration: 0.5s;
}

.color-pick-active,
.color-pick:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.white {
  background-color: #ffffff;
}

.brown {
  background-color: rgb(115, 78, 67);
}

.black {
  background-color: #000000;
}

.hus-blue {
  background-color: var(--husBlue);
}

.dark-green {
  background-color: var(--darkGreen);
}
.grey-blue {
  background-color: var(--greyBlue);
}
.grey {
  background-color: var(--grey);
}

/* image gallery */

.slide {
  display: none;
}

.gallery-nav {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.gallery-nav-button {
  cursor: pointer;
  user-select: none;
  opacity: 0.4;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px);
  transition-duration: 0.2s;
  border-radius: 100%;
  margin: 24px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-nav-button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 900px) {
  .menu-button {
    display: none;
  }

  .navigation-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: none;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0px;
    border-radius: 0%;
    font-size: 1.5rem;
  }

  .navigation-content li {
    margin: 8px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 8px;
  }

  .contact-form {
    display: none;
    color: white;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 300px;
    width: 300px;
    margin: 16px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    padding: 16px;
  }

  li.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 16px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
  }

  li.contact a {
    display: none;
  }

  li.contact svg {
    width: 32px;
    height: 32px;
    display: block;
  }

  li.contact.active {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0);
  }

  .contact-form.active {
    display: flex;
  }

  .color-nav {
    justify-content: flex-start;
  }

  .gallery-nav {
    align-items: center;
  }
}
