@supports (-webkit-touch-callout: none) {
  header {
    height: -webkit-fill-available;
  }

  img.cover {
    height: -webkit-fill-available;
  }

  .grid-item {
    height: -webkit-fill-available;
  }

  .gallery img.cover {
    height: calc(-webkit-fill-available - 80px);
  }

  .navigation-content {
    height: -webkit-fill-available;
  }
}
