/* Typography */

@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 100 900;
  src: url("/assets/fonts/Dosis-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: Helvetica, sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

header h1 {
  margin: 0;
  font-family: "Dosis";
  font-weight: 700;
  font-size: 4rem;
  color: white;
}

nav a {
  font-weight: 700;
}

header h2 {
  margin: 0;
  font-family: "Dosis";
  color: white;
}

footer h2 {
  font-size: 2rem;
  color: white;
}

footer a {
  font-size: 1.5rem;
}

@media only screen and (min-width: 900px) {
  nav a {
    font-weight: 900;
  }

  .contact-form input {
    color: white;
  }

  .contact-form label {
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
  }
  .contact-form button {
    color: white;
    font-weight: 900;
    font-size: 1rem;
  }
}
