/* Typography */

@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 100 900;
  src: url("/assets/fonts/Dosis-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: Helvetica, sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 3rem;
}

header h1 {
  color: white;
}

footer h2 {
  font-size: 2rem;
  color: white;
}

footer a {
  font-size: 1.5rem;
}
