* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: black;
}

nav ul {
  margin: 0;
  height: inherit;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0px 8px;
}

img {
  width: 100%;
  margin-bottom: -4px;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header h1 {
  position: absolute;
  color: white;
}

header img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

section {
  width: 100%;
  height: 100vh;
}

section img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}
