* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: black;
}

nav ul {
  height: inherit;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0px 8px;
}

header {
  width: 100%;
  height: 100vh;
  background-color: tomato;
}

header img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

section {
  width: 100%;
  height: 50vh;
}

section.one {
  background-color: teal;
}
section.two {
  background-color: gold;
}
section.three {
  background-color: rgb(104, 219, 119);
}
section.four {
  background-color: rgb(187, 72, 162);
}
