/* Navigation */

nav {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 32px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /*safari fix*/
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar ul {
  margin: 0;
  height: inherit;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 0px 24px;
  padding: 8px;
  color: white;
}

/* SYMBOL FÖR MAIL */

/* .button {
  position: absolute;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: pink;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: none;
}

.button:hover {
  background-color: #274046;
} */

/* button {
  color: var(--husBlue);
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: 550px;
} */

.contact-button {
  cursor: pointer;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 24px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /*safari fix*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all;
  transition-duration: 0.2s;
}

.contact-button svg {
  width: 36px;
}

.contact-button-active {
  cursor: default;
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

.contact-button-active svg {
  display: none;
}

.contact-content {
  display: none;
  color: white;
}

form.contact-content input,
button {
  margin-bottom: 16px;
}

.contact-content-active {
  display: flex;
  flex-direction: column;
}

.exit {
  position: absolute;
  bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
  margin: 0px auto;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
